@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Sans+KR:wght@300;500;700&display=swap');


/* ==============================================================
  공통
==============================================================*/
.action_btn { background: #000; color: white; font-weight: 700; padding:12px 24px; border-radius: 32px;}
.show_mobile { display: none; }
.container { width: 100%; max-width: 1208px; margin: 0 auto; padding: 0 32px; }
/* ==============================================================
  header
==============================================================*/
header { width: 100%; padding:17px 32px !important; display: flex; margin: 0 auto;
align-items: center; justify-content: space-between;}
header .nav_item { font-weight: 500; display: flex; flex-flow: row; gap: 24px; }
header .m_nav_icon { width: 24px; cursor: pointer; }
header .m_nav_icon:after,
header .m_nav_icon:before,
header .m_nav_icon div { background-color: #000; content: ''; display: block; height: 2px; margin: 8px 0; }
header .m_nav_icon:before { margin-top: 0; }
header .m_nav_icon:after { margin-bottom: 0; }
/* ==============================================================
  main
==============================================================*/
.hero_wrap .container { max-width: inherit; padding: inherit;}
.hero_wrap .hero_top { width: 100%; max-width: 1208px; margin: 64px auto; padding: 0 32px; display: flex; flex-flow: row; justify-content: space-between; }
.hero_wrap .hero_top .hero_info_box { width: calc(100% - 550px); padding: 70px 15px 70px 0; }
.hero_wrap .hero_top .hero_info_box .title { font-weight: 900; letter-spacing: -1px; font-size: 56px; line-height: 1.07;
margin-bottom: 24px;}
.hero_wrap .hero_top .hero_info_box .sub_txt { font-size: 18px; line-height: 1.5; margin-bottom: 40px; }
.hero_wrap .hero_top .hero_info_box .bottom_box { display: flex; flex-flow: row; gap: 20px; }
.hero_wrap .hero_top .hero_info_box .bottom_box p { font-weight: 600; font-size: 14px; line-height: 1.4; }
.hero_wrap .hero_top .hero_img_box { width: 550px; }
.hero_wrap .hero_bottom { padding: 64px 32px; background: #F3F3F3; }
.hero_wrap .hero_bottom ul { display: flex; flex-flow: row; width: 100%; max-width: 1140px; margin: 0 auto; gap: 30px; }
.hero_wrap .hero_bottom ul li .title { position: relative; padding-left: 56px; margin-bottom: 22px; font-size: 18px; font-weight: 700;}
.hero_wrap .hero_bottom ul li .title:after { content: ""; position: absolute; left: 0; top:50%; transform: translateY(-50%); background: #000;
width: 40px; height: 40px; border-radius: 50%; }
.hero_wrap .hero_bottom ul li .desc { letter-spacing: -0.1px; line-height: 1.5; }

.brand_info_wrap { background: #000; margin: 0 auto; padding: 96px 0; }
.brand_info_wrap .container { display: flex; flex-flow: row; align-items: center; }
.brand_info_wrap .img_box { width: 550px; }
.brand_info_wrap .info_box { color: white; width: calc(100% - 550px); padding-left: 133px; }
.brand_info_wrap .info_box .title { font-size: 24px; font-weight: 900;line-height: 1.3; letter-spacing: -0.1px; margin-bottom: 16px; }
.brand_info_wrap .info_box .sub_txt { line-height: 1.5; letter-spacing: -0.1px; margin-bottom: 16px;}
.brand_info_wrap .info_box .desc_list p { line-height: 1.5; letter-spacing: -0.1px; margin-bottom: 8px; position: relative; padding-left: 16px;}
.brand_info_wrap .info_box .desc_list p:before { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
   width: 4px; height: 4px; background: white; border-radius: 50%;}
.brand_info_wrap .info_box .desc_list p:last-child { margin-bottom: 0; }

.testimonial_wrap { margin: 96px auto 124px; }
.testimonial_wrap .info_group { display: flex; flex-flow: row; gap: 30px; }
.testimonial_wrap .info_group .info_group_item { background: #F3F3F3; border-radius: 8px; padding: 24px; }
.testimonial_wrap .info_group .info_group_item .text { font-size: 18px; line-height: 1.56; margin-bottom: 56px; }
.testimonial_wrap .info_group .info_group_item .item_footer { margin-top: 16px; display: flex; flex-flow: row; justify-content: space-between; }
.testimonial_wrap .info_group .info_group_item .item_footer .name p:first-child { font-weight: 700; line-height: 1.5;
    letter-spacing: -0.1px; margin-bottom: 4px; }
.testimonial_wrap .info_group .info_group_item .item_footer .name p:last-child { font-size: 14px; line-height: 1.4; }
.testimonial_wrap .info_group .info_group_item .item_footer .icons { display: flex; flex-flow: row; gap: 16px; align-items: flex-end; }

.cta_wrap { position: relative; width: 100%; padding: 192px 0; }
.cta_wrap .bg_img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../../image/cta-img.png") no-repeat;
    background-position: center; background-size: cover; background-attachment: fixed; z-index: 1}
.cta_wrap .info_box {  position: relative; z-index: 1; color: white; text-align: center; }
.cta_wrap .info_box .top_txt { font-weight: 500; line-height: 1.5; margin-bottom: 12px; }
.cta_wrap .info_box .title { font-weight: 900; font-size: 40px; line-height: 1.2; letter-spacing:  -0.5px; margin-bottom: 32px;}
.cta_wrap .info_box .action_btn { background: white; color: black; }

footer { background: black; color: white; padding: 96px 0 !important; }
footer .container { display: flex; flex-flow: row; }
footer .container h1 { display: inline-flex; margin-right: 95px; }
footer .container h1 a { display: block; width: 100px; }
footer .container .info_group { display: flex; flex-flow: row; width: 100%; }
footer .container .info_group .group_item { flex: 1; display: flex; flex-flow: column;  margin-right: 35px; }
footer .container .info_group .group_item h2 {font-size: 16px; margin-bottom: 16px; line-height: 1.5; letter-spacing: -0.1px; }
footer .container .info_group .group_item a { font-size: 14px; line-height: 1.4; }
footer .container .info_group .group_item a + a { margin-top: 8px;}
footer .container .info_group .subscribe { width: 360px; }
footer .container .info_group .subscribe h2 { margin-bottom: 24px; font-size: 16px; }
footer .container .info_group .subscribe .search_box { position: relative; margin-bottom: 20px; }
footer .container .info_group .subscribe input { width: 100%; padding: 12px 52px 12px 24px; border-radius: 40px;
    border: none; background: rgba(225,225,225,0.15) url("../../image/Icon-airplane.svg") no-repeat;
    background-position: right 24px center; }
footer .container .info_group .subscribe input,
footer .container .info_group .subscribe input::placeholder
{ font-family: 'Inter',  sans-serif;  color:  rgba(225,225,225,0.5); line-height: 1.5; font-size: 16px;  }
footer .container .info_group .subscribe p { color: rgba(225,225,225,0.4); font-size: 14px; line-height: 1.4; }

/* ==============================================================
   미디어쿼리 Tablet 1200
==============================================================*/
@media all and (max-width: 1024px) {
    .hero_wrap .hero_top { margin: 43px auto 34px; flex-flow: column; }
    .hero_wrap .hero_top .hero_info_box { width: 100%; padding: 0 0 63px 0; text-align: center; max-width: 550px; margin: 0 auto;}
    .hero_wrap .hero_top .hero_info_box .sub_txt { margin-bottom: 20px; }
    .hero_wrap .hero_top .hero_info_box .bottom_box { justify-content: center; align-items: center; }
    .hero_wrap .hero_top .hero_info_box .bottom_box .hide-mobile { display: none; }
    .hero_wrap .hero_top .hero_img_box { width: 100%;}
    .hero_wrap .hero_top .hero_img_box img { width: 100%; height: 100%; max-height: 450px; object-fit: cover; border-radius: 12px; }
    .hero_wrap .hero_bottom { padding: 40px 32px; }

    .brand_info_wrap { padding: 32px 0 64px; }
    .brand_info_wrap .container { flex-flow: column; }
    .brand_info_wrap .img_box , .brand_info_wrap .info_box { width: 100%; }
    .brand_info_wrap .img_box img { width: 100%; height: 100%; max-height: 550px; object-fit: cover;  border-radius: 12px; }
    .brand_info_wrap .info_box { padding-left: 0; padding-top: 64px; display: flex; flex-flow: row; gap: 129px; }
    .brand_info_wrap .info_box .title { max-width: 345px; margin-bottom: 0; }

    .testimonial_wrap { margin: 48px auto 96px;}

    .cta_wrap .bg_img { background-attachment: initial; }

    footer { padding: 58px 0 !important; }
    footer .container { flex-flow: column; }
    footer .container h1 { margin-right: 0; margin-bottom: 48px;}
    footer .container .info_group .group_item {  margin-right: 0; }
    footer .container .info_group .subscribe { width: 345px; }
}


/* ==============================================================
   미디어쿼리 Mobile 768
==============================================================*/
@media all and (max-width: 768px) {
    .show_mobile { display: block; }
    .container {  padding: 0 24px; }
    header .nav_item, header .action_btn { display: none; }
    header { padding: 20px 24px !important; }

    .hero_wrap .hero_top { padding: 0 24px; }
    .hero_wrap .hero_top .hero_info_box .title { font-size: 40px; line-height: 1.2; }
    .hero_wrap .hero_top .hero_info_box .sub_txt { margin-bottom: 24px; }
    .hero_wrap .hero_top .hero_info_box .bottom_box { flex-flow: column; gap: 16px; }
    .hero_wrap .hero_top .hero_info_box .bottom_box p { line-height: 2.0; }
    .hero_wrap .hero_bottom { padding: 24px; }
    .hero_wrap .hero_bottom ul { flex-flow: column; text-align: center; gap: 48px; }
    .hero_wrap .hero_bottom ul li { display: flex; flex-flow: column; align-items: center; }

    .brand_info_wrap .info_box { padding-top: 14px; flex-flow: column; gap: 14px; text-align: center; }
    .brand_info_wrap .info_box .title { max-width: inherit; line-height: 2.0; }
    .brand_info_wrap .info_box .sub_txt { margin-bottom: 14px; }

    .testimonial_wrap .info_group { flex-flow: column; text-align: center; }
    .testimonial_wrap .info_group .info_group_item img { margin: 0 auto; }
    .testimonial_wrap .info_group .info_group_item .item_footer { flex-flow: column; justify-content: inherit; align-items: center; }
    .item_footer .icons { margin-top: 24px; }

    .cta_wrap .info_box .title { font-size: 28px; line-height: 1.7; margin-bottom: 12px; }

    footer .container h1 { justify-content: center; }
    footer .container .info_group { flex-wrap: wrap; text-align: center; }
    footer .container .info_group .group_item { flex: 1 1 30%; }
    footer .container .info_group .subscribe { width: inherit; margin-top: 20px; }
}